<div class="container">
    <h2>Login</h2>
    <form >
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"  required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit" class="btn" (click)="onSubmit()">Login</button>
    </form>
    <p>Don't have an account? <button class="btn" (click)="goToSignUp()">SignUp</button></p>
  </div>
  